img.svelte-1gs6214.svelte-1gs6214 {
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: contain;
	will-change: opacity;
	width: 100%;
}
.blur.svelte-1gs6214.svelte-1gs6214 {
	transition: opacity 1s;
}
.placeholder.svelte-1gs6214.svelte-1gs6214 {
	opacity: 1;
	transition: opacity 1s ease-out;
	transition-delay: 0.4s;
}
.main.svelte-1gs6214.svelte-1gs6214 {
	opacity: 0;
	transition: opacity 1s ease-out;
	transition-delay: 0.4s;
}
.loaded.svelte-1gs6214 .placeholder.svelte-1gs6214 {
	opacity: 0;
	position: absolute;
}
.loaded.svelte-1gs6214 .main.svelte-1gs6214 {
	opacity: 1;
}
