#tsparticles {
	height: 100%;
	width: 100%;
}
html {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 251, 235, var(--tw-bg-opacity));
}
html.dark {
	--tw-bg-opacity: 1;
	background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}
:focus:not(.focus-visible) {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
[aria-current] {
	position: relative;
	display: inline-block;
}
[aria-current]::after {
	position: absolute;
	content: '';
	width: calc(100% - 1em);
	height: 2px;
	background-color: #991b1b;
	display: block;
	bottom: -1px;
}
.dark [aria-current]::after {
	position: absolute;
	content: '';
	width: calc(100% - 1em);
	height: 2px;
	background-color: #34d399;
	display: block;
	bottom: -1px;
}
*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}
* {
	--tw-ring-inset: var(--tw-empty); /*!*/ /*!*/
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
}
:root {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
:-moz-focusring {
	outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
	box-shadow: none;
}
::moz-focus-inner {
	border-style: none;
	padding: 0;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
abbr[title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
body {
	margin: 0;
	font-family: inherit;
	line-height: inherit;
}
html {
	-webkit-text-size-adjust: 100%;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	line-height: 1.5;
}
a {
	color: inherit;
	text-decoration: inherit;
}
b,
strong {
	font-weight: bolder;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	padding: 0;
	line-height: inherit;
	color: inherit;
}
button,
select {
	text-transform: none;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
	-webkit-appearance: button;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
	margin: 0;
}
button {
	background-color: transparent;
	background-image: none;
}
button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}
[role='button'],
button {
	cursor: pointer;
}
code,
kbd,
pre,
samp {
	font-size: 1em;
}
fieldset {
	margin: 0;
	padding: 0;
}
hr {
	height: 0;
	color: inherit;
	border-top-width: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
img {
	border-style: solid;
}
input::placeholder {
	opacity: 1;
	color: #9ca3af;
}
input::webkit-input-placeholder {
	opacity: 1;
	color: #9ca3af;
}
input::-moz-placeholder {
	opacity: 1;
	color: #9ca3af;
}
input:-ms-input-placeholder {
	opacity: 1;
	color: #9ca3af;
}
input::-ms-input-placeholder {
	opacity: 1;
	color: #9ca3af;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
	vertical-align: middle;
}
img,
video {
	max-width: 100%;
	height: auto;
}
legend {
	padding: 0;
}
ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
progress {
	vertical-align: baseline;
}
code,
kbd,
pre,
samp {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
summary {
	display: list-item;
}
table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
}
textarea {
	resize: vertical;
}
textarea::placeholder {
	opacity: 1;
	color: #9ca3af;
}
textarea::webkit-input-placeholder {
	opacity: 1;
	color: #9ca3af;
}
textarea::-moz-placeholder {
	opacity: 1;
	color: #9ca3af;
}
textarea:-ms-input-placeholder {
	opacity: 1;
	color: #9ca3af;
}
textarea::-ms-input-placeholder {
	opacity: 1;
	color: #9ca3af;
}
.container {
	width: 100%;
}
.bg-red-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(153, 27, 27, var(--tw-bg-opacity));
}
.bg-blue-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(110, 231, 183, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(76, 29, 149, var(--tw-bg-opacity));
}
.bg-opacity-80 {
	--tw-bg-opacity: 0.8;
}
.dark .dark\:bg-opacity-30 {
	--tw-bg-opacity: 0.3;
}
.border-yellow-50 {
	--tw-border-opacity: 1;
	border-color: rgba(255, 251, 235, var(--tw-border-opacity));
}
.dark .dark\:border-gray-900 {
	--tw-border-opacity: 1;
	border-color: rgba(17, 24, 39, var(--tw-border-opacity));
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-lg {
	border-radius: 0.5rem;
}
.border-b {
	border-bottom-width: 1px;
}
.cursor-pointer {
	cursor: pointer;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.grid {
	display: -ms-grid;
	display: grid;
}
.flex-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.flex-wrap {
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-wrap-reverse {
	-ms-flex-wrap: wrap-reverse;
	-webkit-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}
.items-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.justify-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.justify-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.float-left {
	float: left;
}
.font-extralight {
	font-weight: 200;
}
.font-light {
	font-weight: 300;
}
.h-40 {
	height: 10rem;
}
.h-full {
	height: 100%;
}
.h-98 {
	height: 24.5rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.text-7xl {
	font-size: 4.5rem;
	line-height: 1;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}
.list-inside {
	list-style-position: inside;
}
.list-disc {
	list-style-type: disc;
}
.m-0 {
	margin: 0;
}
.m-5 {
	margin: 1.25rem;
}
.my-1 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.my-5 {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}
.mx-1 {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.mx-10 {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.mb-15 {
	margin-bottom: 3.75rem;
}
.mb-40 {
	margin-bottom: 10rem;
}
.mb-3 {
	margin-bottom: 0.75rem;
}
.overflow-hidden {
	overflow: hidden;
}
.p-0 {
	padding: 0;
}
.p-10 {
	padding: 2.5rem;
}
.p-5 {
	padding: 1.25rem;
}
.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-5 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.px-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.px {
	padding-left: 1px;
	padding-right: 1px;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.static {
	position: static;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.hover\:shadow-animate:hover {
	--tw-shadow: 0.5px 0.5px rgba(255, 255, 255, 1), 1.5px 1.5px rgba(255, 255, 255, 1),
		2.5px 2.5px rgba(255, 255, 255, 1), 3.5px 3.5px rgba(255, 255, 255, 1),
		4.5px 4.5px rgba(255, 255, 255, 1);
	-webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-gray-800 {
	--tw-text-opacity: 1;
	color: rgba(31, 41, 55, var(--tw-text-opacity));
}
.text-gray-900 {
	--tw-text-opacity: 1;
	color: rgba(17, 24, 39, var(--tw-text-opacity));
}
.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-red-800 {
	--tw-text-opacity: 1;
	color: rgba(153, 27, 27, var(--tw-text-opacity));
}
.dark .dark\:text-gray-200 {
	--tw-text-opacity: 1;
	color: rgba(229, 231, 235, var(--tw-text-opacity));
}
.dark .dark\:text-gray-900 {
	--tw-text-opacity: 1;
	color: rgba(17, 24, 39, var(--tw-text-opacity));
}
.dark .dark\:text-green-400 {
	--tw-text-opacity: 1;
	color: rgba(52, 211, 153, var(--tw-text-opacity));
}
.dark .dark\:hover\:text-green-600:hover {
	--tw-text-opacity: 1;
	color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.uppercase {
	text-transform: uppercase;
}
.no-underline {
	text-decoration: none;
}
.break-words {
	overflow-wrap: break-word;
}
.w-3\/4 {
	width: 75%;
}
.w-1\/2 {
	width: 50%;
}
.w-full {
	width: 100%;
}
.w-98 {
	width: 24.5rem;
}
.gap-2 {
	grid-gap: 0.5rem;
	gap: 0.5rem;
}
.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
.auto-rows-min {
	grid-auto-rows: -webkit-min-content;
	grid-auto-rows: min-content;
}
.hover\:transform-gpu:hover {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	-webkit-transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0)
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	-ms-transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0)
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate))
		skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
}
.hover\:-translate-x-1:hover {
	--tw-translate-x: -0.25rem;
}
.hover\:-translate-y-1:hover {
	--tw-translate-y: -0.25rem;
}
.hover\:transition:hover {
	-webkit-transition-property: background-color, border-color, color, fill, stroke, opacity,
		-webkit-box-shadow, -webkit-transform;
	-o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
		transform;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
		-webkit-box-shadow, transform, -webkit-transform;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 150ms;
	-o-transition-duration: 150ms;
	transition-duration: 150ms;
}
.hover\:ease-in-out:hover {
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hover\:duration-300:hover {
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
	.sm\:h-20 {
		height: 5rem;
	}
	.sm\:text-5xl {
		font-size: 3rem;
		line-height: 1;
	}
	.sm\:text-2xl {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	.sm\:w-1\/2 {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
	.md\:justify-end {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}
	.md\:mx-20 {
		margin-left: 5rem;
		margin-right: 5rem;
	}
	.md\:text-left {
		text-align: left;
	}
	.md\:w-3\/4 {
		width: 75%;
	}
	.md\:gap-4 {
		grid-gap: 1rem;
		gap: 1rem;
	}
	.md\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
	.lg\:mx-30 {
		margin-left: 7.5rem;
		margin-right: 7.5rem;
	}
	.lg\:p-8 {
		padding: 2rem;
	}
	.lg\:px-15 {
		padding-left: 3.75rem;
		padding-right: 3.75rem;
	}
	.lg\:w-4\/9 {
		width: 44.444444%;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
	.xl\:mx-40 {
		margin-left: 10rem;
		margin-right: 10rem;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
	.\32 xl\:mx-60 {
		margin-left: 15rem;
		margin-right: 15rem;
	}
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
ul.svelte-4mj48z::after {
	content: '';
	vertical-align: center;
	clear: both;
}
