.layercake-container.svelte-1eyuhc0,
.layercake-container.svelte-1eyuhc0 * {
	box-sizing: border-box;
}
.layercake-container.svelte-1eyuhc0 {
	width: 100%;
	height: 100%;
}
svg.svelte-4zpqg8 {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: visible;
}
svg.svelte-4zpqg8 * {
	vector-effect: non-scaling-stroke;
}
.day.svelte-dg32h5 {
	stroke: #000;
	stroke-width: 1;
	fill: #fff;
}
:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cxantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
.chart-container.svelte-zbu6m {
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 100%;
	margin-top: 25px;
}
.chart-container.svelte-zbu6m:before {
	content: attr(data-month);
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0, -100%);
}
