/* imported from svelte (good css practices) */

@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

/* My styles */

html {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 251, 235, var(--tw-bg-opacity));
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html.dark {
	--tw-bg-opacity: 1;
	background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}

#tsparticles {
	height: 100%;
	width: 100%;
}

#particle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	--tw-bg-opacity: 0.8;
	background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
	height: 10rem;
}

html.dark #particle {
	--tw-bg-opacity: 0.3;
	background-color: rgba(76, 29, 149, var(--tw-bg-opacity));
}

nav ul::after {
	content: '';
	vertical-align: center;
	clear: both;
}

nav [aria-current] {
	position: relative;
	display: inline-block;
}

nav [aria-current]::after {
	position: absolute;
	content: '';
	width: calc(100% - 1em);
	height: 2px;
	background-color: #991b1b;
	display: block;
	bottom: -1px;
}

.dark nav [aria-current]::after {
	position: absolute;
	content: '';
	width: calc(100% - 1em);
	height: 2px;
	background-color: #34d399;
	display: block;
	bottom: -1px;
}

progress[value]::-webkit-progress-bar {
	background-color: #f87171;
}

progress[value]::-webkit-progress-value {
	background-color: #b91c1c;
}

.dark progress[value]::-webkit-progress-bar {
	background-color: #34d399;
}

.dark progress[value]::-webkit-progress-value {
	background-color: #15803d;
}

*:focus:not(.focus-visible) {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

nav {
	border-bottom-width: 1px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-weight: 300;
	--tw-bg-opacity: 0.8;
	background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
	--tw-border-opacity: 1;
	border-color: rgba(255, 251, 235, var(--tw-border-opacity));
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1rem;
	padding-right: 1rem;
	--tw-text-opacity: 1;
	color: rgba(153, 27, 27, var(--tw-text-opacity));
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
}

.dark nav {
	--tw-text-opacity: 1;
	color: rgba(52, 211, 153, var(--tw-text-opacity));
	--tw-bg-opacity: 0.3;
	background-color: rgba(76, 29, 149, var(--tw-bg-opacity));
	--tw-border-opacity: 1;
	border-color: rgba(17, 24, 39, var(--tw-border-opacity));
}

a {
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
	-webkit-text-decoration-color: currentColor;
	text-decoration-color: currentColor;
	-webkit-text-decoration-style: dashed;
	text-decoration-style: dashed;
	--tw-text-opacity: 1;
	color: rgba(153, 27, 27, var(--tw-text-opacity));
}

.dark a {
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
	-webkit-text-decoration-color: currentColor;
	text-decoration-color: currentColor;
	-webkit-text-decoration-style: dashed;
	text-decoration-style: dashed;
	--tw-text-opacity: 1;
	color: rgba(52, 211, 153, var(--tw-text-opacity));
}

ul {
	line-height: 1.5;
}

.commitChart {
	margin-left: auto;
	margin-right: auto;
	height: 12.5rem;
	width: 13.75rem;
	@apply mx-auto h-50 w-55 sm:(h-60 w-65) md:(h-90 w-98);
}

code[class*='language-'],
pre[class*='language-'] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}
