#tsparticles {
	@apply h-full w-full;
}

html {
	@apply bg-yellow-50;
}

html.dark {
	@apply bg-gray-900;
}

*:focus:not(.focus-visible) {
	@apply outline-none;
}

.commitChart {
	@apply mx-auto h-50 w-55 sm:(h-60 w-65) md:(h-70 w-75) lg:(h-50 w-50) xl:(h-60 w-60) 2xl:(h-75 w-75);
}

h1 {
	@apply font-extralight font-sans text-5xl md:text-7xl text-red-800 dark:text-green-400 text-center break-words;
}

h2 {
	@apply font-extralight font-sans text-2xl text-red-800 sm:text-5xl dark:text-green-400;
}

h3 {
	@apply font-extralight font-sans text-xl text-red-800 w-3/4 dark:text-green-400;
}

p {
	@apply font-extralight font-mono text-gray-800 dark:text-gray-200;
}

a {
	@apply underline-double text-red-800 underline-red-800 dark:(underline-green-400 text-green-400);
}

ul {
	@apply leading-normal;
}

code[class*='language-'],
pre[class*='language-'] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}
