ul::after {
	content: '';
	vertical-align: center;
	clear: both;
}

[aria-current] {
	@apply relative inline-block;
}

[aria-current]::after {
	position: absolute;
	content: '';
	width: calc(100% - 1em);
	height: 2px;
	background-color: #991b1b;
	display: block;
	bottom: -1px;
}

.dark [aria-current]::after {
	position: absolute;
	content: '';
	width: calc(100% - 1em);
	height: 2px;
	background-color: #34d399;
	display: block;
	bottom: -1px;
}
