#tsparticles {
  @apply h-full w-full;
}

html {
  @apply bg-yellow-50;
}

html.dark {
  @apply bg-gray-900;
}

*:focus:not(.focus-visible) {
  @apply outline-none;
}

[aria-current] {
  @apply relative inline-block;
}

[aria-current]::after {
  position: absolute;
  content: '';
  width: calc(100% - 1em);
  height: 2px;
  background-color: #991B1B;
  display: block;
  bottom: -1px;
}

.dark [aria-current]::after {
  position: absolute;
  content: '';
  width: calc(100% - 1em);
  height: 2px;
  background-color: #34D399;
  display: block;
  bottom: -1px;
}
