#tsparticles {
	@apply h-full w-full;
}

html {
	@apply bg-yellow-50;
}

html.dark {
	@apply bg-gray-900;
}

*:focus:not(.focus-visible) {
	@apply outline-none;
}

[aria-current] {
	@apply relative inline-block;
}

[aria-current]::after {
	position: absolute;
	content: '';
	width: calc(100% - 1em);
	height: 2px;
	background-color: #991b1b;
	display: block;
	bottom: -1px;
}

.dark [aria-current]::after {
	position: absolute;
	content: '';
	width: calc(100% - 1em);
	height: 2px;
	background-color: #34d399;
	display: block;
	bottom: -1px;
}

.commitChart{
  @apply mx-auto h-50 w-55 sm:(h-60 w-65) md:(h-70 w-75) lg:(h-50 w-50) xl:(h-60 w-60) 2xl:(h-75 w-75);
}